# API ключи
TILDA_PUBLIC_KEY=""
TILDA_SECRET_KEY=""
TILDA_PROJECT_ID=""

# Настройки сервера
TILDA_HOST="0.0.0.0"
TILDA_PORT=8000

# Пути сохранения файлов
TILDA_STATIC_PATH_PREFIX=static/
TILDA_HTML_PATH=static/
TILDA_IMAGES_PATH=static/images/
TILDA_CSS_PATH=static/css/
TILDA_JS_PATH=static/js/

# Настройки Git
PUSH_TO_GIT=false  # Включить/выключить автоматический пуш в Git
GIT_USERNAME=""    # Имя пользователя Git
GIT_TOKEN=""       # Токен доступа Git
GIT_REMOTE_URL=""  # URL удаленного репозитория
GIT_CONFIG_NAME="Tilda Exporter"  # Имя пользователя для конфигурации Git
GIT_CONFIG_EMAIL="tilda-exporter@example.com"  # Email для конфигурации Git