# API ключи
TILDA_PUBLIC_KEY=""
TILDA_SECRET_KEY=""
TILDA_PROJECT_ID=""

# Настройки сервера
TILDA_HOST="0.0.0.0"
TILDA_PORT=8000

# Пути сохранения файлов
TILDA_STATIC_PATH_PREFIX=static/
TILDA_HTML_PATH=static/
TILDA_IMAGES_PATH=static/
TILDA_CSS_PATH=static/
TILDA_JS_PATH=static/

# Данные удаленного репозитория
GIT_USERNAME=""
GIT_PASSWORD=""
GIT_REMOTE_URL=""